body {
  font-family: Poppins, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 20px;
}

.highlight {
  background-color: yellow;
  padding: 2px;
}

input.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.grid {
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 40px 100px 0;
}

#timer,
#wpm,
#high-score,
#message {
  font-size: 1em;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start,
#toggle-dark {
  font-family: Poppins, sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
  border: 5px solid #d6b602f3;
  border-style: inset;
  font-weight: 700;
}

/* 🌑 Dark mode styles */
body.dark {
  background-color: #121212;
  color: #eeeeee;

  #textbox {
    background-color: #d9d9d9;
    border: 2px solid #000000;
  }

  #quote {
    color: #000000;
  }

  #toggle-dark,
  #start {
    background-color: #ffffff;
    color: #000000;
  }
}

input:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

#heading {
  text-align: center;
  margin-top: -30px;
}

#bold-heading {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: -2px;
}

.label {
  margin: auto;
  font-size: 0.8em;
}

#textbox {
  width: 60%;
  height: 200px;
  padding: 30px 25px;
  font-size: 1.2em;
  border-radius: 50px;
  border: 2px solid #ffffff;
  margin: auto;
  background-color: #000000;
}

.char {
  display: inline;
  transition: 0.1s;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.active {
  border-bottom: 2px solid blue;
}

input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#quote {
  white-space: normal;
  overflow-wrap: break-word;
  text-align: left;
  color: #ffffff;
}
